<% include ../hf/header %>
<div class="container d-flex mt-5" style="width: 75%">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/auth/profile-info-admin" class="list-group-item list-group-item-action">Profile</a>
                <a href="/auth/profile-add_staff-admin" class="list-group-item list-group-item-action active">Staff Registration</a>
                <a href="/auth/profile-remove_staff-admin" class="list-group-item list-group-item-action">Remove Staff</a>
            </div>
        </div>
        <div class="col-md-9 d-flex justify-content-center">
            <div class="card mb-1" style="width: 90%;">
                <h1 class="card-title text-center mt-2">Staff Registration</h1>
                <div class="d-flex justify-content-center my-5">
                    <a href="/auth/google-staff" class="btn btn-lg btn-primary text-light"><img src="http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/google-icon.png" style="width: 1.5rem;">   Register with google</a>
                </div>
            </div>       
        </div>
</div>
<% include ../hf/footer %>