<!DOCTYPE html>
<html>
<head>
    <title>BookStop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania|Shrikhand&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('https://wallpapercave.com/wp/wp2662899.jpg');background-repeat: no-repeat;background-size: cover;">