<% include hf/header%>
<div style="background-image: url('https://stmed.net/sites/default/files/book-wallpapers-28442-3045404.jpg');height: 41.05rem;background-repeat: no-repeat;background-size: cover;">
    <H1 class="text-center display-1 text-light pt-5 pb-3" style="font-weight: 600; font-family: 'Metal Mania', cursive; letter-spacing: 2px;">Welcome to Student's Corner</H1>
    <div class="d-flex justify-content-center">
        <a href="/auth/google" class="btn btn-lg btn-primary text-light"><img src="http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/google-icon.png" style="width: 1.5rem;">   Sign in with google</a>
    </div>
</div>
<% include hf/footer %>