<% include ../hf/header %>
<div class="container d-flex mt-5" style="width: 75%">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/auth/profile-info" class="list-group-item list-group-item-action active">Profile</a>
                <a href="/auth/profile-attendance" class="list-group-item list-group-item-action">Attendance</a>
                <a href="/auth/profile-mark" class="list-group-item list-group-item-action">Marks</a>
                <a href="/auth/profile-report" class="list-group-item list-group-item-action">Report</a>
            </div>
        </div>
        <div class="col-md-9 d-flex justify-content-center">
            <div class="card mb-1" style="width: 90%;">
                <h1 class="card-title text-center mt-2">Student profile</h1>
                <img src="<%= currentUser.image %>" class="card-img-top rounded-circle mx-auto my-3" style="width: 50%;">
                <hr>
                <div class="card-body container" style="width: 60%;">
                    <div class="row">
                        <div class="col-2"><h1><i class="fas fa-user-graduate"></i></h1></div>
                        <div class="col-10">
                            <div><b><%=currentUser.username %></b></div>
                            <div><em>Name</em></div>      
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2"><h1><i class="fas fa-id-card"></i></i></h1></div>
                        <div class="col-10">
                            <div><b><%=currentUser.googleId %></b></div>
                            <div><em>Reg No.</em></div>      
                        </div>
                    </div>
                </div>
                <a href="/auth/logout" class="btn btn-danger mx-auto mb-2">logout</a>
            </div>       
        </div>
</div>
<% include ../hf/footer %>