<% include ../hf/header %>
<div class="container d-flex mt-5" style="width: 75%">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/auth/profile-info" class="list-group-item list-group-item-action">Profile</a>
                <a href="/auth/profile-attendance" class="list-group-item list-group-item-action">Attendance</a>
                <a href="/auth/profile-mark" class="list-group-item list-group-item-action">Marks</a>
                <a href="/auth/profile-report" class="list-group-item list-group-item-action active">Report</a>
            </div>
        </div>
        <div class="col-md-9 d-flex justify-content-center">
            <div class="card mb-1" style="width: 90%;">
                <h1 class="card-title text-center mt-2">Academic Report</h1>
                <div class="card-body container" style="width: 80%;">
                    <% if(pAttendance && pMark) { %>
                        <div class="d-flex justify-content-center my-3"><img src="https://www.wcupa.edu/_services/STU/ramsEyeView/images/wcuSeal.png" style="width: 25%;"></div>
                        <p style="font-size: 1.7rem;"><em>This is an academic report given to Master/Miss </em><b><%= currentUser.username %></b><em> who has maintained an attendance percentage of </em><b><%= pAttendance %>%</b><em> and scored a mark of </em><b><%= pMark %>%</b><em> and grade </em><b><%= grade %></b><em> in his annual examination</em></p>
                        <div class="d-flex justify-content-center"><button class="btn btn-primary"><i class="fas fa-file-download"></i> Download Report</button></div>
                    <% } else { %>
                        <h4 class="text-center text-secondary">Report not yet generated</h4>
                    <% } %>
                </div> 
            </div>            
        </div>
</div>
<% include ../hf/footer %>