<% include ../hf/header %>
<div class="container d-flex mt-5" style="width: 75%">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/auth/profile-info-staff" class="list-group-item list-group-item-action">Profile</a>
                <a href="/auth/profile-attendance-update" class="list-group-item list-group-item-action active">Update Attendance</a>
                <a href="/auth/profile-mark-update" class="list-group-item list-group-item-action">Update Marks</a>
            </div>
        </div>
        <div class="col-md-9 d-flex justify-content-center">
            <div class="card mb-1" style="width: 90%;">
                <h1 class="card-title text-center mt-2">Update Attendance</h1>
                <form method="POST" action="/auth/profile-attendance-update">
                    <div class="form-group mx-auto mt-4"  style="width: 80%;">
                      <input type="text" class="form-control" placeholder="Student reg no." name="stud_id">
                    </div>
                    <div class="form-group mx-auto mt-4"  style="width: 80%;">
                        <input type="date" class="form-control" name="date">
                    </div>
                    <div class="d-flex justify-content-center btn-group my-2" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-success" name="action" value="present">Present</button>
                        <button type="submit" class="btn btn-danger" name="action" value="absent">Absent</button>
                    </div>
                </form>
            </div>       
        </div>
</div>
<% include ../hf/footer %>